@font-face {
  font-family: top;
  src: url(../fonts/OldSchoolAdventures-42j9.ttf
  );
}
*{
  box-sizing: border-box;
}

html,
body{
  background-color: #FEDCC8;
}

.s1{
  position: relative;
    overflow: hidden;
    height: 100vh  
}

.parallax-backg{
  background: rgb(204,119,15);
background: linear-gradient(0deg, rgba(204,119,15,1) 10%, rgba(230,197,104,1) 25%, rgba(226,233,121,1) 35%, rgba(199,199,188,1) 49%, rgba(92,84,168,1) 66%, rgba(0,29,142,1) 92%);
height: 100%;
}
.parallax-backg::after{
--color-scanline: rgba(255,255,255,.075);
  content: "";
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  z-index: 0;
  background: repeating-linear-gradient(to bottom, var(--color-scanline), var(--color-scanline) 1px, transparent 1px, transparent 5px);
}
.parallax {
  perspective: 120px;
  scrollbar-width:0px;
  overflow-x:hidden;
  overflow-y: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-left: -1800px;
  width: 100%;
}
::-webkit-scrollbar{
  width: 0px !important;
}
.parallax__layer{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  

}

.parallax__layer__0{
    transform: translateZ(-300px) scale(4);
}
.parallax__layer__1{
    transform: translateZ(-250px) scale(3.5);
}
.parallax__layer__2{
    transform: translateZ(-200px) scale(3);
}
.parallax__layer__3{
    transform: translateZ(-150px) scale(2.5);
}
.parallax__layer__4{
    transform: translateZ(-100px) scale(2);
}
.parallax__layer__5{
    transform: translateZ(-50px) scale(1.5);
}
.parallax__layer__6{
    transform: translateZ(0px) scale(1);
    z-index: 6;
   
}



.parallax__layer img{
    display: block;
    position: absolute;
    bottom: 0;
    height: 50% ;
    margin-left: -650px;
}

.parallax__cover{
  background: #2D112B;
  display: flex;
  align-items: center !important;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  top: 100%;
  left: 0;
  right: 0;
  height: 100vh;
  z-index: 6;
  width: 100%;
}


.down{
  position: absolute;
  bottom: 0;
  left: 50%;
  z-index: 9999;
  display: inline-block;
  
  text-decoration: none;
  padding-top: 60px;
  width: 111px;
  height: 111px;
  
  
}


.down span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 27px;
  height: 27px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb 2s infinite;
  animation: sdb 2s infinite;
  opacity: 0;
  box-sizing: border-box;
  
}
.down span:nth-of-type(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.down span:nth-of-type(2) {
  top: 16px;
  -webkit-animation-delay: .20s;
  animation-delay: .20s;
}
.down span:nth-of-type(3) {
  top: 32px;
  -webkit-animation-delay: .4s;
  animation-delay: .4s;
}
@-webkit-keyframes sdb {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}