@media(max-width: 1024px){

  .down-gif{
    display: none;
  }
  .gallery-3d-wrapper{
    transform: translateX(159px);
  }
  .btn-left,
  .btn-right{
    display: none;
  }
  .ICON{
    width: 40px;
  }
  .p-text-footer{
    font-size: 11px !important;
    line-height: 15px !important;
    padding: 0px 1px 0px 20px;
  }
  .card-dir{
    width: 200px;
    background: none;
  }
  .texts h1{
    font-size: 4rem !important;
  }
  .texts h1:nth-of-type(1){
    top: 32%;
    left: 4%;
    color: #f1eb35 !important;
  }
  .texts h1:nth-of-type(2){
    left: 45%;
    bottom: 32%;
  }
}
.nav_bar img{
  width: 90%;
}
.links a{
  font-size: 90% !important;
}
@media(max-width: 768px){
  
}
@media(max-width: 425px){
    .gallery-3d{
        gap: 10px;
        animation: rotate 60s linear infinite;
    }
    @keyframes rotate {
        from {
          transform: perspective(2200px) rotateY(0deg);
        }
        to {
          transform: perspective(1200px) rotateY(360deg);
        }
    }
    .gallery-3d-wrapper{
        width: 130px;
        transform: translateX(68px);
        padding-top: 451px;
    }
    .gallery-3d .card-3d {
    position: absolute;
    width: 100%;
    
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i) * 45deg)) translateZ(180px);
    }
    .card-3d{
        width: 100px;
        height: 170px;
    }
    .card-3d-img{
        width: 100px;
        height: 100px;
    }
    .text-head{
      display: none;
    }
    #retrobg-ground{
      height: 22%;
  }
  .p-text-footer{
    font-size: 9px !important;
    line-height: 12px !important;
    padding: 0px 1px 0px 20px;
  }
  .ICON{
    width: 36px;
  }
  .btn-footer{
    width: 110px;
    font-size: 7px !important;
    height: 40px;
  }
  .down-gif{
    display: none;
  }

  .parallax__layer__3{
    transform: translateX(-1728px) scale(2.5) !important;
  }
  .parallax__layer__4{
    transform: translateX(-1517px) scale(2) !important;
  }
  .parallax__layer__5{
    transform: translateX(-1891px) scale(1.5) !important;
    height: 780px;
  }
}
@media(max-width: 400px){
  .gallery-3d .card-3d {
    position: absolute;
    width: 100%;
    
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i) * 45deg)) translateZ(150px);
    }
  .card-3d{
    width: 10px;
    height: 150px;
  }
  .col-md-1{
    width: 70px;
    right: 40%;
  }
  .menu{
    top: 25%;
    width: 80%;
  }
  .form-popup{
    left: 25%;
    width: 70%;
    top:  1% !important;
  }
  .p-text-footer{
    padding: 0 !important;
    margin: 0 !important;
    font-size: 50% !important;
  }


}



